@charset "utf-8";
*
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: rgb(0, 0, 0);
    font-size: 13px;
}


.main
{
    width:100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right ,rgb(2, 2, 125),rgb(1, 8, 50));
}

.zukei1
{
    height: 50px;
    width: 120px;
    color: rgba(245, 92, 31, 0.881);
    border: 2px solid;
    position:absolute;
    transform: rotate(50deg);
    left:30px;
    animation: animate 5s linear infinite;
}
.zukei2
{
    height: 50px;
    width: 50px;
    color: rgba(31, 213, 245, 0.947);
    border: 2px solid;
    position:absolute;
    transform: rotate(0deg);
    left: 100px;
    animation: animate 7s linear infinite;
}
.zukei3
{
    height: 100px;
    width: 120px;
    color: rgb(245, 241, 31);
    border: 2px solid;
    position:absolute;
    transform: rotate(330deg);
    left: 200px;
    animation: animate 3s linear infinite;
}

@keyframes animate
{
    0%
    {
        transform: rotate(0deg);
        border-radius: 0% 24% 50% 2%;
    }
    25%
    {
        transform: rotate(180deg);
        border-radius: 19% 30% 140% 30%;
        height: 100px;
        width: 100px;
    }
    50%
    {
        transform: rotate(180deg);
        border-radius: 40% 120% 10% 50%;
        height: 20px;
        width: 30px;
    }
    100%
    {
        transform: rotate(360deg);
        border-radius: 0% 24% 50% 2%;
    }
}

.nav  /* 一番上の行 */
{ 
    width:90%;
    position:sticky;
    margin: 10px auto;
    display: flex;
    align-items: center;
}

.logo
{
    display: block;
    font-size: 25px;
    margin: 0;
    box-shadow :2px;
    font-weight:700;
    color: rgba(9, 238, 93, 0.915);
    text-shadow: 0 2px 1px #9ac0c3a3; 
    z-index: 10;
}

.nav-links
{
    position: absolute;   
    right: 0;

}
.nav-links ul
{
    display: flex;
}

.nav-links ul li
{
    list-style: none;
    margin:0 10px;
}
.nav-links ul li a
{
    display: inline-block;
    color: rgba(0, 255, 255, 0.726);
}

/*内容*/
.naiyo
{
    background-color:#23ff016f;
    width: 100%;    
    margin:auto;
    margin-top: 60px;
    text-align: center;
    border-radius: 50%;
}
.naiyo-headline
{
    color:aliceblue;
    text-shadow: 0 2px 3px #d503ffa3; 
    text-align: center;
    font-size: 25px;
    
}

/* 内容の中の各セクション */
.section{
    width: 80%;    
    background-color:#dedbe0c1;
    margin: auto;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 16px;
    text-align: left;
    box-shadow: 0 0 5px 1px rgb(231, 231, 231);
} 

.section-tytle
{
    font-size: 15px;
    color: rgba(242, 242, 242, 0.915);
    text-shadow: 0 2px 3px #100013a3; 
}
.small-tytle
{
    font-size: 13px;
    font-weight:600;
    color: rgba(242, 242, 242, 0.915);
    text-shadow: 0 2px 3px #09000aa3; 
}




/* GitHub引用のプログラム */
.script
{
    height: 350px;
    overflow: scroll;

}






/* ボタン押したとき表示される */
#hyoji_1{
    /* display: none; */
    background-color:#0000003a;
    box-shadow: 0 0 10px inset rgb(1, 7, 42);
    padding: 0;
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}

#hyoji_1.on
{
    visibility:inherit;
    opacity: 1;
    transition: all 0.5s ease;
    height: 100%;
    padding: 10px;
}

#hyoji_2{
    /* display: none; */
    background-color:#0000003a;
    box-shadow: 0 0 10px inset rgb(1, 7, 42);
    padding: 0;
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}
#hyoji_2.on
{
    visibility:inherit;
    opacity: 1;
    transition: 0.5s;
    height: 100%;
    padding: 10px;
}

#hyoji_3{
    /* display: none; */
    background-color:#0000003a;
    box-shadow: 0 0 10px inset rgb(1, 7, 42);
    padding: 0;
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}
#hyoji_3.on
{
    visibility:inherit;
    opacity: 1;
    transition: 0.5s;
    height: 100%;
    padding: 10px;
}

#hyoji_4{
    /* display: none; */
    background-color:#0000003a;
    box-shadow: 0 0 10px inset rgb(1, 7, 42);
    padding: 0;
    height:0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.2s ease;
}
#hyoji_4.on
{
    visibility:inherit;
    opacity: 1;
    transition: 0.5s;
    height: 100%;
    padding: 10px;
}


/* ボタン */
#botan_open_1{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 1;
    transition: 0.5s;  
}
#botan_open_1.off
{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}

#botan_close_1{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_1.on
{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
    width: 60px;
}


#botan_open_2{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 1;
    transition: 0.5s;  
}
#botan_open_2.off
{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_2{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_2.on
{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
    width: 60px;
}


#botan_open_3{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 1;
    transition: 0.5s;  
}
#botan_open_3.off
{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_3{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_3.on
{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
    width: 60px;
}



#botan_open_4{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 1;
    transition: 0.5s;  
}
#botan_open_4.off
{
    visibility:hidden;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_4{
    border: none;
    background-color:transparent;
    margin: 0;
    width: 60px;
    text-align: center;
    visibility: inherit;
    opacity: 0;
    transition: 0.5s;
    width: 0;
}
#botan_close_4.on
{
    visibility:visible;
    opacity: 1;
    transition: 0.5s;
    width: 60px;
}





#botan_open_1:hover
{
    color: rgb(220, 20, 167);
}

#botan_close_1:hover
{
    color: rgb(220, 20, 167);
}

#botan_open_2:hover
{
    color: rgb(220, 20, 167);
}

#botan_close_2:hover
{
    color: rgb(220, 20, 167);
}

#botan_open_3:hover
{
    color: rgb(220, 20, 167);
}

#botan_close_3:hover
{
    color: rgb(220, 20, 167);
}

#botan_open_4:hover
{
    color: rgb(220, 20, 167);
}

#botan_close_4:hover
{
    color: rgb(220, 20, 167);
}
